@page "/"

@* connects this page to the IndexModel class *@
@model IndexModel

@section Styles{
    <link rel="stylesheet" href="~/css/index.css"/>
}

<div class="index-page-wrapper">
    <div class="index-message">
        @* Allows the html file to access the fields of the IndexModel class *@
        @Model.Message
    </div>

    <h1>
        landing
    </h1>
</div>
