.sc-page-wrapper{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #083F52;
}

.sc-page-wrapper .student-profile-title{
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin: 30px;
    text-align: center;
}

.student-profiles-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    border: 2px solid red;
    width: 75vw;
    margin: auto;
}

.student-profile{
    border: 2px solid wheat;
    border-radius: 5px;
}

.student-profile .profile-picture img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}