@page "/student-profiles"

@model StudentProfile
@section Styles{
    <link rel="stylesheet" href="~/css/student-profile.css"/>
}

<div class="sc-page-wrapper">
    <div class="student-profile-title">
        Student Profiles
    </div>

    <div class="student-profiles-wrapper">
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                <div class="student-name">Josh</div>
                <div class="program-location">Flushing</div>
                <div class="adapt-email">example@adaptcn.org</div>
            </div>
        </div>
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                <div class="student-name">Josh2</div>
                <div class="program-location">Flushing</div>
                <div class="adapt-email">example@adaptcn.org</div>
            </div>
        </div>

        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                <div class="student-name">Josh3</div>
                <div class="program-location">Flushing</div>
                <div class="adapt-email">example@adaptcn.org</div>
            </div>
        </div>

        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                <div class="student-name">Josh2</div>
                <div class="program-location">Flushing</div>
                <div class="adapt-email">examp4e@adaptcn.org</div>
            </div>
        </div>
    </div>
</div>