@page "/student-profiles"

@model StudentProfile
@section Styles{
    <link rel="stylesheet" href="~/css/student-profile.css"/>
}

<div class="sc-page-wrapper">
    <div class="student-profile-title">
        Student Profiles
    </div>

    <div class="student-profiles-wrapper">
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                Josh
            </div>
        </div>
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person"></div>
            <div class="student-information">
                Josh2
            </div>
        </div>
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                Josh3
            </div>
        </div>
        <div class="student-profile">
            <div class="profile-picture">
                <img src="~/img/person-2.jpg" alt="person">
            </div>
            <div class="student-information">
                Josh4
            </div>
        </div>
    </div>
</div>