@page "/student-profiles"

@model StudentProfile
@section Styles{
    <link rel="stylesheet" href="~/css/student-profile.css"/>
}

<div class="sc-page-wrapper">
    <h1>
        Student Profiles
    </h1>

    <div class="student-profiles-wrapper">
        <div class="student-profile">
            <div class="profile-picture"></div>
            <div class="student-information">
                
            </div>
        </div>
    </div>
</div>